
body{
  padding: 2%;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #87cefa;
  max-width: 450px;
  margin: auto;
}

header{
  text-align: center;
  padding: 1%;
  text-transform: uppercase;
  text-decoration: underline;
}

